{% extends "layout/logbase.html" %} 

{% block content %}
<div>
  <form method="post" class="login_box">
    <div style="float: center;
    margin: 15px">
      <h2 style="text-align:center; font-size: 20px; font-family: Montserrat, sans-serif; color: black">Войти на сайт</h2>
    </div>
    
    <div style="text-align: end; position: relative; left: -24%;">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <button type="submit" class="login_button" style="border:none;">Авторизоваться</button>
      <!-- <a href="{% url 'login' %}" class="login_button">Авторизоваться</a> -->
      <br>
      <br>
      <br>
      <p style="font-size: 12pt;  color: gray; position: relative; left: 5%;">Новый пользователь? <a href="{% url 'signup' %}" style="font-size: 12pt;  color: gray">Зарегистрироваться</a></p>
    </div>
  </form>
</div>
{% endblock content %}
  