{% extends 'layout/logbase.html' %}
 
{% block content %}
<h2 class="title" style="font-size: 20pt">Регистрация</h2>
<div class="signup_box">
  <form method="post" style="font-size: 14pt;">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="floating-button" style="border: none; position: relative; left: 25%;">
    Зарегистрироваться</button>
    <div style="float: left;  margin: 10px 50px; position: relative; left: 15%">
      <p  style="font-size: 14pt;  color: gray;">Уже есть аккаунт? <a class="signup_button" href="{% url 'login' %}" >Авторизоваться</a></p>
    </div>
  </form>
</div>

  
  

{% endblock content %}