{% extends "layout/basic.html" %}

{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}
<div>
   <h2 class="rubric_title">Рубрика: {{ current_rubric.name }}</h2>
</div>
{% for bb in bbs %}
<div class="post_block">
   <h2 class="title">{{ bb.title }}</h2>
   <p>{{ bb.content }}</p>
   {% if bb.image %} 
   <img src="{{ bb.image.url }}"  class="picture"> 
   {% endif %} 
   <p style="text-align:center; font-size: 14px; font-family: Montserrat, sans-serif; color: gray"> {{ bb.published|date:"d.m.Y" }}
      <div style="float: left;  margin: -44px 75px;">
         <a href="{% url 'post_delete' bb.id %}" class="post_button">Удалить запись</a>
     </div>
      <div style="float: right;
      margin: -44px 75px;">
         <a href="{% url 'post_edit' bb.id %}" class="post_button">Редактировать</a>
      </div>
   </div>
{% endfor %}
{% endblock %}