{% extends "layout/basic.html" %}

{% block content %}
{% for bb in bbs %}
<div class="post_block">
   <h2 class="title">{{ bb.title }}</h2>
   <p class="rubric">Тема:<a href="{% url 'by_rubric' bb.rubric.pk %}" class="post_button">  {{ bb.rubric.name }} </a></p>
   <p>{{ bb.content }}</p>
   {% if bb.image %} 
   <img src="{{ bb.image.url }}"  class="picture"> 
   {% endif %} 
   <p style="text-align:center; font-size: 14px; font-family: Montserrat, sans-serif; color: gray"> {{ bb.published|date:"d.m.Y" }}
   <div style="float: left;  margin: -44px 75px;">
      <form method="POST" action="{% url 'post_delete' bb.id %}">
         {% csrf_token %}
         <button type="submit" class="post_button">Удалить запись</button>
      </form> 
  </div>
   <div style="float: right;
   margin: -44px 75px;">
      <form method="POST" action="{% url 'post_edit' bb.id %}">
         {% csrf_token %}
         <button type="submit" class="post_button">Редактировать</button>
      </form>
   </div>
</div>
{% endfor %}
{% endblock %}

<!-- <a href="{% url 'post_edit' bb.id %}" class="delete_button">Редактировать</a> -->
<!-- <a href="{% url 'by_rubric' bb.rubric.pk %}"> # {{ bb.rubric.name }} </a> -->

<!-- <form method="POST" action="{% url 'post_edit' bb.id %}">
   {% csrf_token %}
   <button type="submit" class="post_button">Редактировать</button>
</form> -->
