{% extends "layout/basic.html" %}

{% block content %}
{% for bb in bbs %}
<div class="post_block">
   <h2 class="title">{{ bb.title }}</h2>
   <p class="rubric"><a href="{% url 'by_rubric' bb.rubric.pk %}" class="title"> # {{ bb.rubric.name }} </a></p>
   <p>{{ bb.content }}</p>
   <p style="text-align:center"> {{ bb.published|date:"d.m.Y" }} <a href="{% url 'post_edit' bb.id %}" class="redact_button">Редактировать</a></p>

   <form method="POST" action="{% url 'post_delete' bb.id %}">
      {% csrf_token %}
      <button type="submit" >Удалить запись</button>
   </form>
   
   
   
</div>
{% endfor %}
{% endblock %}
