header h1 {
   position: relative;
   left: 5%;
   font-size: 50pt;
   color: black;
   text-transform: uppercase;
   text-align: center;
   background: url("logo.png") left / auto 100% no-repeat;
}
.pbutton {
   color: black; 
   font-size: 20pt;
}
nav {
   font-size: 16pt;
   width: 150px;
   float: left;
}
nav a {
   display: block;
   margin: 10px 0px;
}
section {
   margin-left: 170px;
}
h2.title {
   font-size: 20pt;
   text-align: center;
}
.rubric{
   position: relative;
}
.create_post{
   position: relative;
   left: 20%
}
html {
   background-image: url("bg2.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
.post_block {
   border-top-left-radius: 20px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 0;
   background-color: lightcyan;
   border:2px solid black;
   margin:20px auto;
   padding:10px;
   width:700px;
   word-break:break-all;
   
   border-width: solid;
   font-size: 15pt;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}