{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>{% block title %} Главная {% endblock %} :
      Лента</title>
      <link rel="stylesheet" type="text/css"
      href="{% static 'bboard/style.css' %}">
   </head>
   <div id="wrapper">
		<header>
         <a href="{% url 'index' %}"><img src="/media/logo.png" alt="none"></a>
      </header>
		<nav>
         <ul class="top-menu">
            <li><a class="button" href="{% url 'index' %}">Главная</a></li>
            <li><a class="button" href="{% url 'index' %}">О проекте</a></li>
            {% if user.is_authenticated %}
            <li><a class="button" href="/partners/">Добавить пост</a></li>
            <li><a class="button" href="/services/">Личный кабинет</a></li>
            <li><a class="button" href="{% url 'logout' %}">Выйти</a></li>
            <li class="help_message">Добро пожаловать, {{ user.username }}!</li>
            {% else %}
            <li><a class="button" href="{% url 'login' %}">Авторизоваться</a></li>
            <li class="help_message" style="position: relative; left:30%;">Вы не авторизованы.</li>
            {% endif %}   
         </ul>
      </nav>
		<div id="heading">
         <h1></h1>
      </div>
		<aside class="aside-menu">
         <h3 class="aside-menu-tittle">Рубрики</h3>
         {% for rubric in rubrics %}
         <li><a class="rubrics_button" href="{% url 'by_rubric' rubric.pk %}">#{{ rubric.name }}</a></li>
         {% endfor %}
         <h3 class="aside-menu-tittle">Поддержать проект</h3>
         <p><img src="/media/donate.png" width="150" height="150" alt="None"></p>
      </aside>
		<section>
         {% block content %}
         {% endblock %}
      </section>
	</div>
	<footer>

   </footer>
</html>

