{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>{% block title %} Engineer`s Blog {% endblock %} :
      Лента</title>
      <link rel="stylesheet" type="text/css"
      href="{% static 'bboard/style.css' %}">
   </head>
   <div id="wrapper">
		<header>
         {% if user.is_authenticated %}
         <a href="{% url 'index' %}"><img src="/media/logo.png" alt="none"></a>
         <h3 class="help_message" style="text-align: end;float: right; margin-top: 3%;">Добро пожаловать, {{ user.username }}!</h3>
         {% else %}
         <a href="{% url 'index' %}"><img src="/media/logo.png" alt="none"></a>
         <h3 class="help_message" style="text-align: end;float: right; margin-top: 3%;">Вы не авторизованы.</h3>
         {% endif %} 
      </header>
		<nav>
         <ul class="top-menu">
            <li><a class="button" href="{% url 'index' %}">Главная</a></li>
            <li><a class="button" href="{% url 'index' %}">О проекте</a></li>
            <li><a class="button" href="{% url 'index' %}">Контакты</a></li>
            {% if user.is_authenticated %}
            <li><a class="button" href="{% url 'add' %}">Добавить пост</a></li>
            <li><a class="button" href="{% url 'index' %}">Личный кабинет</a></li>
            <li><a class="button" href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
            <div style="text-align: end;float: right; margin-top: 0%;">
               <li><a class="button" href="{% url 'login' %}">Авторизоваться</a></li>
            </div>
            {% endif %}   
         </ul>
      </nav>
		<div id="heading">
         <h1></h1>
      </div>
		<aside class="aside-menu">
         <h3 class="aside-menu-tittle">Рубрики</h3>
         {% for rubric in rubrics %}
         <li><a class="rubrics_button" href="{% url 'by_rubric' rubric.pk %}">#{{ rubric.name }}</a></li>
         {% endfor %}
         <h3 class="aside-menu-tittle">Поддержать проект</h3>
         <p><img src="/media/donate.png" width="150" height="150" alt="None"></p>
      </aside>
		<section>
         {% block content %}
         {% endblock %}
      </section>
	</div>
	<footer>

   </footer>
</html>

