{% extends "layout/basic.html" %}

<!DOCTYPE html>

   {% block content %}
<body>
   <div class="about_us_block">
      <div>
         <h2 class="title">О проекте</h2>
         <blockquote>
            <p>
               “СЕГОДНЯ ТЫ ДЕЛАЕШЬ КОД, ЗАВТРА КОД ДЕЛАЕТ ТЕБЕ ДЕНЬГИ”
            </p>
            <cite>Steve Jobs.</cite>
         </blockquote>
      </div>
      <div class="beauty_text">
         <p style="color: rgb(65, 63, 63)">Наша задача создать удобную платформу для общения между soft-ware инженерами. 
            Проект создан и поддерживается командой из опытных разработчиков. Цель проекта -
            объединить людей, имеющих одинаковый интерес в сфере IT.
         </p>
      </div>
   </div>
   <div style="text-align:justify; margin-top: 5%;" class="about_us_block">
      <h2 class="title">Наша команда</h2>
      <span>
         <p class="help_message"><a href="https://github.com/sensensation"><img class="workers_picture" src="/media/worker.png" alt="none" align="middle"></a> - Kirill, Python Django Junior Dev, +7 953 434 65 38</p>
         <p class="help_message"><a href="https://github.com/sensensation"><img class="workers_picture" src="/media/elon_musk.png" alt="none" align="middle"></a> - Elon Musk, Tesla & SpaceX CEO, +1 285 300 61 57</p>
         <p class="help_message"><a href="https://github.com/sensensation"><img class="workers_picture" src="/media/worker_2.JPG" alt="none" align="middle"></a> - Ivan, Quantum Physics Engineer, +7 999 666 23 32</p>
      </span>
   </div>
   {% endblock %}
</body>


