{% extends "layout/basic.html" %}

<!DOCTYPE html>

   {% block content %}
<body>
   <div class="about_us_block">
      <div>
         <h2 class="title">О проекте:</h2>
         <blockquote>
            <p>
               “СЕГОДНЯ ТЫ ДЕЛАЕШЬ КОД, ЗАВТРА КОД ДЕЛАЕТ ТЕБЕ ДЕНЬГИ”
            </p>
            <cite>Steve Jobs.</cite>
         </blockquote>
      </div>
      <div class="beauty_text">
         <p style="color: rgb(65, 63, 63)">Наша задача создать удобную платформу для общения между soft-ware инженерами. 
            Проект создан и поддерживается командой из опытных разработчиков. Цель проекта -
            объединить людей, имеющих одинаковый интерес в сфере IT.
         </p>
      </div>
   </div>
   <div>
      <p><a href="https://github.com/sensensation"><img class="workers_picture" src="/media/worker.png" alt="none"></a></p> 
   </div>
   {% endblock %}
</body>


