{% extends "layout/basic.html" %}

{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}
<div>
   <h2 class="rubric_title" >Рубрика: {{ current_rubric.name }}</h2>
</div>
{% for bb in bbs %}
<div class="post_block">
   <h2 class="title">{{ bb.title }}</h2>
   <p>{{ bb.content }}</p>
   {% if bb.image %} 
   <img src="{{ bb.image.url }}"  class="picture"> 
   {% endif %} 
   <p style="text-align:center;" class="help_message"> 
      {{ bb.published|date:"d.m.Y" }}
      {% if user.is_authenticated %}   
      <div style="float: left;  margin: -44px 75px;">
         <a href="{% url 'post_delete' bb.id %}" class="post_button">Удалить запись</a>
     </div>
      <div style="float: right;
      margin: -44px 75px;">
         <a href="{% url 'post_edit' bb.id %}" class="post_button">Редактировать</a>
      </div>
      {% endif %}
   </div>
{% empty %}
<p class="help_message" style="position: relative; left: 31%; margin-top: 100px;">Постов в этой рубрике нет.</p>
{% endfor %}
{% endblock %}