{% extends "layout/basic.html" %}

{% block title %} Добавление поста {% endblock %}

{% block content %}
<div style="margin-top: 10px;">
   <h2 class="title" style="position: relative; left: -10%;">Добавление поста</h2>
   <form method="post" class="create_post_box" enctype="multipart/form-data"> 
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit"  class="post_button" style="position: relative; left: 70%; border: none;" value="Добавить">
   </form>
</div>

{% endblock %}


