{% extends "layout/basic.html" %}

{% block content %}
{% for bb in bbs %}
<div class="post_block">
   <h2 class="title" >{{ bb.title }}</h2>
   <p class="rubric">Тема:<a href="{% url 'by_rubric' bb.rubric.pk %}" class="post_button">  {{ bb.rubric.name }} </a></p>
   <p style="text-indent: 50px;">{{ bb.content }}</p>
   {% if bb.image %} 
   <img src="{{ bb.image.url }}"  class="picture"> 
   {% endif %} 
   <p style="text-align:center;" class="help_message"> {{ bb.published|date:"d.m.Y" }}
   {% if user.is_authenticated %}   
   <div style="float: left;  margin: -44px 75px;">
      <form method="POST" action="{% url 'post_delete' bb.id %}">
         {% csrf_token %}
         <button type="submit" class="post_button" style="border: none;">Удалить запись</button>
      </form>
  </div>
   <div style="float: right; margin: -44px 75px;">
      <a href="{% url 'post_edit' bb.id %}" class="post_button">Редактировать</a>
   </div>
   {% endif %}
</div>
{% endfor %}
{% endblock %}
