.about_us_block {
   background-color: white;
   border-radius: 3px;
   box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
   margin:20px;
   position: relative;
   right: 5%;
   width:690px;
}
.workers_picture{
   display: flexbox;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5%;
   margin-top: 5%;
   width: 20%;
   height: auto;
   border-radius: 500px;
}
.beauty_text {
   font-family: Montserrat, sans-serif;
   font-size: 14pt; 
   text-align: justify; 
   padding: 10px;
   text-indent: 50px;
}

.help_message {
   font-family: Montserrat, sans-serif;
   font-size: 12pt;  
   color: gray; 
}

h2.title {
   font-size: 20pt;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}
.rubric{
   position: relative;
   color: gray;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   text-align: center;
}
.rubric_title {
   font-family: 'Montserrat', sans-serif; 
   position: relative; 
   left: 27%;
   text-decoration: none;
   display: inline-block;
   width: 240px;
   height: 45px;
   line-height: 45px;
   border-radius: 1px;
   opacity: 90%;
   margin: 10px 30px;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 3px;
   font-weight: 600;
   color: #524f4e;
   background: white;
   box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
   transition: .2s;
   border-color: whitesmoke;
}
/* post block */
.create_post_box{
   position: relative;
   left: -10%;
   overflow: hidden;
   background-color: white;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
   background-color: whitesmoke;
   border:2px solid lightgray;
   margin:10px auto;
   padding: 2em;
   width:500px;
   box-shadow: 15px 15px 15px rgba(0, 0, 0, .1);
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
}
.post_block {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   border-radius: 30px;
   background-color: white;
   border:2px solid lightgray;
   margin:20px auto;
   padding:10px;
   width:650px;
   word-wrap: break-word;
   box-shadow: 0 15px 20px rgba(50, 59, 55, 0.4);
   
   
   border-width: solid;
   display: flexbox;
   justify-content: center;
   flex-direction: column;
   text-align: justify;
}
/* post block */

/* background */
html {
   background-image: url("bg4.jpg");
   /* background-color: rgba(235, 196, 196, 0.82); */
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
 /* background */

.picture {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5%;
   margin-top: 5%;
   width: 70%;
   height: auto;
   border-radius: 8px;
}
/* buttons */

 .post_button {
   text-decoration: none;
   display: inline-block;
   width: auto;
   height: 27px;
   line-height: 27px;
   border-radius: 1px;
   margin: 6px 30px;
   border-color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 9px;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 1px;
   font-weight: 400;
   color: #524f4e;
   background: whitesmoke;
   box-shadow: 15px 15px 15px rgba(0, 0, 0, .1);
   transition: .3s;
   padding: 0 10px;
 }
 .post_button:hover {
   background: #F08080;
   box-shadow: 0 15px 20px rgba(50, 59, 55, 0.4);
   color: white;
   transform: translateY(-2px);
 }







#wrapper {
	max-width: 960px;
	margin: auto;
}
header {
	padding: 20px 0;
}
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font-family: 'Montserrat', sans-serif;
   font-size: 14px;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 1px 3.7px;
	margin-left: 1px;
}
.top-menu a {
	color: #b2b2b2;
}
.button {
   text-decoration: none;
   display: inline-block;
   width: auto;
   padding: 12px;
   height: auto;
   border-radius: 1px;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-weight: 500;
   color: #524f4e;
   background: white;
   box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
   transition: .2s;
   border-color: whitesmoke;
 }
 .button:hover {
   background: #F08080;
   box-shadow: 0 15px 20px rgba(50, 59, 55, 0.4);
   color: white;
   transform: translateY(-7px);
 }
 .rubrics_button {
   text-decoration: none;
   display: inline-block;
   width: 110px;
   padding: 10px;
   height: 27px;
   line-height: 27px;
   border-radius: 1px;
   margin: 5px 0px;
   border-color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 11px;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 1px;
   font-weight: 400;
   color: #524f4e;
   background: whitesmoke;
   box-shadow: 15px 15px 15px rgba(0, 0, 0, .1);
   transition: .3s;
   padding: 0 10px;
 }
 .rubrics_button:hover {
   background: #F08080;
   box-shadow: 0 15px 20px rgba(50, 59, 55, 0.4);
   color: white;
   transform: translateY(-2px);
 }
 #heading {
	background: transparent url(/media/tittle_logo.png);
	margin: 15px 0;
	padding-left: 2px;
}

h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px 'Montserrat', sans-serif;
	background: url(/media/tittle_logo.png);
	margin: 0;
	padding: 0 0px;
}
aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}
.aside-menu li {
	font-weight: 300;
	list-style-type: square;
   color: gray;
	border-top: 1px solid #d1cfcf;
}
.aside-menu {
   position: fixed;
}
.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a {
	color: #8f8f8f;
}
.aside-menu-tittle {
   font-size: 14pt;
   text-align: left;
   font-family: 'Montserrat', sans-serif;
   color: gray;

}
/* мб пригодится? */
blockquote {
	margin: 0;
	background: #F08080;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #cecccc;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #494747;
	margin: 0;
	text-align: right;
}
/* мб пригодится? */