.head_title{
   font-size: 40pt;
   color: black;
   text-transform: uppercase;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}
nav {
   font-size: 16pt;
   width: 275px;
   float: left;
}
nav a {
   display: flexbox;
   margin: 10px 0px;
}
section {
   margin-left: 170px;
}
h2.title {
   font-size: 20pt;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}
.rubric{
   position: relative;
   color: gray;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   text-align: center;
}
.rubric_title {
   font-family: 'Montserrat', sans-serif; 
   position: relative; 
   left: 27%;
   text-decoration: none;
   display: inline-block;
   width: 240px;
   height: 45px;
   line-height: 45px;
   border-radius: 45px;
   margin: 10px 30px;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 3px;
   font-weight: 600;
   color: #524f4e;
   background: white;
   box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
   transition: .2s;
   border-color: whitesmoke;
}
/* post block */
.create_post_box{
   position: relative;
   left: -10%;
   overflow: hidden;
   background-color: white;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
   background-color: whitesmoke;
   border:2px solid lightgray;
   margin:10px auto;
   padding: 2em;
   width:500px;
   box-shadow: 15px 15px 15px rgba(0, 0, 0, .1);
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
}
.post_block {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
   background-color: white;
   border:2px solid lightgray;
   margin:20px auto;
   padding:10px;
   width:690px;
   word-wrap: break-word;
   box-shadow: 0 15px 20px rgba(50, 59, 55, 0.4);
   position: relative;
   right: 5%;
   
   border-width: solid;
   display: flexbox;
   justify-content: center;
   flex-direction: column;
   text-align: justify;
}
/* post block */

/* background */
html {
   background-image: url("bg4.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
 /* background */

.picture {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5%;
   margin-top: 5%;
   width: 70%;
   height: auto;
   border-radius: 8px;
}
/* buttons */
.floating-button {
   text-decoration: none;
   display: inline-block;
   width: 240px;
   height: 45px;
   line-height: 45px;
   border-radius: 45px;
   margin: 10px 30px;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 3px;
   font-weight: 600;
   color: #524f4e;
   background: white;
   box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
   transition: .2s;
   border-color: whitesmoke;
 }
 .floating-button:hover {
   background: #F08080;
   box-shadow: 0 15px 20px rgba(50, 59, 55, 0.4);
   color: white;
   transform: translateY(-7px);
 }
 .post_button {
   text-decoration: none;
   display: inline-block;
   width: auto;
   height: 27px;
   line-height: 27px;
   border-radius: 25px;
   margin: 6px 30px;
   border-color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 9px;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 1px;
   font-weight: 400;
   color: #524f4e;
   background: whitesmoke;
   box-shadow: 15px 15px 15px rgba(0, 0, 0, .1);
   transition: .3s;
   padding: 0 10px;
 }
 .post_button:hover {
   background: #F08080;
   box-shadow: 0 15px 20px rgba(50, 59, 55, 0.4);
   color: white;
   transform: translateY(-2px);
 }
 .button_wrapper {
   position: fixed;
   left: 5%;
   top: 0;
 }