{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>{% block title %} Главная {% endblock %} :
      Лента</title>
      <link rel="stylesheet" type="text/css"
      href="{% static 'bboard/style.css' %}">
   </head>
   <body>
      <header>
         <h1>Блог одиночества</h1>
         {% if user.is_authenticated %}
         <p><a href="{% url 'logout' %}" style="font-size: 18pt;  color: black;">Выйти</a></p>
         {% else %}
         <p style="font-size: 18pt;  color: black;">Вы не авторизованы. <a href="{% url 'login' %}" style="font-size: 18pt;  color: black;">Авторизоваться</a></p>
         {% endif %}
      </header>
      <nav>
         <a href="{% url 'index' %}" class="pbutton">Главная</a>
         <br>
         <a href="{% url 'add' %}" class="pbutton">Добавить пост</a>
         <br>
         {% for rubric in rubrics %}
         <a href="{% url 'by_rubric' rubric.pk %}" class="pbutton">
         #{{ rubric.name }}</a>
         {% endfor %}
      </nav>
      <section>
         {% block content %}
         {% endblock %}
      </section>
   </body>
</html>