{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>{% block title %} Главная {% endblock %} :
      Лента</title>
      <link rel="stylesheet" type="text/css"
      href="{% static 'bboard/style.css' %}">
   </head>
   <body>
      <header>
         <h1 class="head_title">Блог одиночества</h1>
      </header>
      <nav>
         {% if user.is_authenticated %}
         <p style="font-size: 14pt;  color: black; margin-left: 40px;font-family: Montserrat, sans-serif">
            Добро пожаловать, {{ user.username }}!</p>
         <p><a href="{% url 'logout' %}" class="floating-button">Выйти</a></p>
         {% else %}
         <p style="font-size: 18pt;  color: black; margin-left: 40px;font-family: Montserrat, sans-serif">
            Вы не авторизованы.</p> 
         <p><a href="{% url 'login' %}" class="floating-button">Авторизоваться</a></p>
         {% endif %}
         <a href="{% url 'index' %}" class="floating-button">Главная</a>
         <a href="{% url 'add' %}" class="floating-button">Добавить пост</a>
         <br>
         <br>
         {% for rubric in rubrics %}
         <a href="{% url 'by_rubric' rubric.pk %}" class="floating-button">
         #{{ rubric.name }}</a>
         {% endfor %}
      </nav>
      <section>
         {% block content %}
         {% endblock %}
      </section>
   </body>
</html>